.view {
    background-color: #004040;
}

.view > * {
    position: absolute;
}

.hand {
    /* width: 512px;
    height: 512px; */
    top: 88px;
    left: 224px;
}

.game {
    background-color: #383838;
    width: 960px;
    height: 600px;
}

.hud {
    width: 960px;
    height: 120px;
    bottom: 0;
}
